.form-signin{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.sp{
  background-image: url("http://i.dawn.com/primary/2014/06/53947ef690e10.jpg?r=597965564")
}

.cool { 
  color: white;
  font-size:30px;
}

h3 {
  color: white;
  font-size:30px;
}

h3 {
  color: white;
  font-size:30px;
}